<h2>さくま診療所 佐久間先生 御机下</h2>
<h4>記入日</h4>
<p>10月19日</p>
<h4>記入者</h4>
<p>田中千和</p>
<h4>連絡先</h4>
<p>090-8980-8180</p>
<h2>診察連絡票</h2>
<p>いつも大変お世話になり、ありがとうございます。</p>
<p>下記の内容をご確認の上、母・幸子の診察していただけると幸いです。</p>
<p>どうぞよろしくお願いいたします。</p>

<%= form_with model: nil do |form| %>
  <div>
    <h3>日頃の様子、気になる点、相談内容など</h3>
    <%= form.text_area :body, size: "60x10" %>
  </div>
  <div>
  <h3>薬・医療材料について(残量や追加希望など)</h3>
    <%= form.text_area :body, size: "60x10" %>
  </div>
  <div>
    <h3>備考</h3>
    <%= form.text_area :body, size: "60x10" %>
  </div>
  <%= form.submit "送信" %>
<% end %>